@charset "UTF-8";

$regularFont: "Montserrat", sans-serif;
$decorativeFont: "Allura", sans-serif;
$contrastColor: #fe5b20;
$greenLight: #92af0d;
$greenDark: #006137;
$lightColor: #fff;
$darkColor: #000;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@keyframes bubble_glow {
  0% {
    filter: contrast(100%);
  }

  75% {
    filter: contrast(150%);
  }

  100% {
    filter: contrast(100%);
  }
}

@keyframes thrill {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.15, 0.85, 1);
  }
  40% {
    transform: scale3d(0.85, 1.15, 1);
  }
  50% {
    transform: scale3d(1.05, 0.95, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

#es-garnier__0422_1.es-garnier__0422_1 {
  font-family: $regularFont;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  max-width: 998px;
  min-width: 280px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $darkColor;
  background: $lightColor;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5,
  p {
    font-family: $regularFont;
    color: $darkColor;
    @include text;
  }

  .text_bold {
    font-weight: 700;
  }

  .textLight {
    font-weight: 300;
  }

  .text_contrast {
    color: $contrastColor;
  }

  .img {
    @include img;
  }

  .es-kv {
    display: flex;
    position: relative;
    z-index: 5;

    @media screen and (max-width: 550px) {
      flex-direction: column;
    }

    &__cntLeft,
    &__cntRight {
      width: 50%;

      @media screen and (max-width: 550px) {
        width: 100%;
      }
    }

    &__cntLeft {
      transition: ease-in-out 0.3s;

      &:hover {
        filter: contrast(115%);
      }
    }

    &__cntRight {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__logoCnt {
      width: 63%;
      margin-top: 9.5%;
      transition: ease-in-out 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      @media screen and (max-width: 768px) {
        margin-top: 4%;
      }

      @media screen and (max-width: 550px) {
        margin-top: 40%;
        align-self: flex-start;
      }

      @media screen and (max-width: 350px) {
        margin-top: 52%;
        align-self: flex-start;
      }
    }

    &__logoDescCnt {
      width: 81%;
      margin-top: 3.75%;
      margin-left: 7%;
      transition: ease-in-out 0.3s;
      position: relative;
      z-index: 30;
      &:hover {
        transform: scale(1.05);
      }

      @media screen and (max-width: 570px) {
        align-self: flex-end;
        margin-left: 0%;
        margin-right: 10px;
        margin-top: -1%;
      }
    }

    &__descCnt {
      margin-top: 8%;
      margin-left: 22%;
      width: 80%;
      text-align: center;
      position: relative;
      z-index: 10;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 6%;
        margin-left: 5%;
      }

      @media screen and (max-width: 550px) {
        margin: 0;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
      }
    }

    &__desc__bold {
      text-transform: uppercase;
      color: $greenDark;
      font-size: 36px;
      line-height: 1.1;

      @media screen and (max-width: 998px) {
        font-size: 24px;
      }

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }

      @media screen and (max-width: 550px) {
        font-size: 24px;
      }

      @media screen and (max-width: 350px) {
        font-size: 22px;
      }
    }

    &__desc__light {
      text-transform: uppercase;
      color: $greenDark;
      line-height: 1.1;
      word-spacing: 3px;
      margin-left: 5%;
      margin-top: 1%;

      @media screen and (max-width: 998px) {
        font-size: 22px;
      }

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }

      @media screen and (max-width: 550px) {
        font-size: 22px;
      }

      @media screen and (max-width: 350px) {
        font-size: 20px;
      }

      & > .sup {
        @include text;
        font-size: 16px;
        position: relative;
        left: -10px;

        @media screen and (max-width: 998px) {
          font-size: 12px;
          left: -8px;
        }

        @media screen and (max-width: 768px) {
          font-size: 10px;
          left: -5px;
        }

        @media screen and (max-width: 550px) {
          font-size: 12px;
          left: -8px;
        }
      }
    }

    &__desc__contrastBold {
      text-transform: uppercase;
      margin-top: 8%;
      margin-left: -1%;

      @media screen and (max-width: 998px) {
        font-size: 22px;
      }

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }

      @media screen and (max-width: 550px) {
        margin-top: 4%;
      }

      & > .sup {
        text-transform: none;

        @include text;
        font-size: 16px;
        position: relative;

        @media screen and (max-width: 998px) {
          font-size: 12px;
        }

        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
      }
    }

    &__imgIngr {
      margin-top: 1%;
      width: 50px;

      @media screen and (max-width: 768px) {
        width: 35px;
      }
    }

    &__cntFloat {
      position: absolute;
      top: 0;
      left: 0;

      &.float_bbl {
        width: 41%;
        top: 28.25%;
        left: 34%;
        pointer-events: none;

        transition: ease-in-out 0.3s;
        animation: bubble_glow 6s infinite;

        @media screen and (max-width: 768px) {
          width: 35%;
          top: 38.75%;
          left: 36%;
        }

        @media screen and (max-width: 550px) {
          width: 65%;
          top: 20%;
          left: 50%;
          transform: scaleX(-1);
        }
      }

      &.float_product {
        width: 42%;
        top: 44%;
        left: 21%;
        transition: ease-in-out 0.3s;

        &:hover {
          transform: scale(1.03);
        }

        @media screen and (max-width: 768px) {
          width: 35%;
          top: 50%;
          left: 25%;
        }

        @media screen and (max-width: 550px) {
          width: 75%;
          top: 35%;
          left: 25%;
        }
      }
    }
  }

  .es-underKv {
    position: relative;
    color: $lightColor;
    z-index: 2;

    transition: ease-in-out 0.3s;
    &:hover {
      filter: contrast(120%);
    }

    &__imgCnt .img {
      // min-height: 500px;
      @media screen and (max-width: 720px) {
        min-height: 300px;
        object-fit: cover;
      }

      @media screen and (max-width: 400px) {
        min-height: 350px;
      }
    }

    &__descCnt {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding: 50px;

      @media screen and (max-width: 550px) {
        padding: 20px 10px;
        min-height: 300px;
        justify-content: space-around;
      }

      @media screen and (max-width: 400px) {
        min-height: 350px;
      }
    }

    &__descUpCnt {
      font-size: 28px;
      text-transform: uppercase;
      text-align: center;
      width: 85%;
      margin-top: 35px;

      @media screen and (max-width: 998px) {
        width: 95%;
        font-size: 22px;
        margin-top: 25px;
      }

      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }

      @media screen and (max-width: 700px) {
        font-size: 19px;
      }

      @media screen and (max-width: 400px) {
        font-size: 16px;
      }
    }

    &__numbers {
      margin: 15px auto;
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 10px;
      @media screen and (min-width: 700px) {
        gap: 50px;
      }
    }
    &__number{
      margin: 0;
      padding: 0;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 28px;

      @media screen and (min-width: 400px) {
        font-size: 30px;
      }
      @media screen and (min-width: 700px) {
        font-size: 35px;
      }
      @media screen and (min-width: 768px) {
        font-size: 45px;
      }
      @media screen and (min-width: 998px) {
        font-size: 53px;
      }
      & span {
        font-size: 38px;
  
        @media screen and (min-width: 400px) {
          font-size: 40px;
        }
        @media screen and (min-width: 700px) {
          font-size: 45px;
        }
        @media screen and (min-width: 768px) {
          font-size: 60px;
        }
        @media screen and (min-width: 998px) {
          font-size: 70px;
        }
      }
    }
    &__desc{
      margin: 0;
      padding: 0;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 10px;

      @media screen and (min-width: 400px) {
        font-size: 10px;
      }
      @media screen and (min-width: 700px) {
        font-size: 12px;
      }
      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
      @media screen and (min-width: 998px) {
        font-size: 18px;
      }
    }
    &__single{
      // width: 50%;
      
      @media screen and (min-width: 400px) {
        text-align: left;
      }
    }

    &__descUp {
      float: left;
      line-height: 1.1;

      & > br {
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    &__descDownCnt {
      width: 85%;
      margin-top: 20px;
      font-size: 18px;
      text-align: center;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 998px) {
        width: 95%;
        font-size: 14px;
        margin-top: 15px;
      }

      @media screen and (max-width: 400px) {
        font-size: 12px;
      }
    }

    &__descDown {
      float: left;
      line-height: 1.2;

      & > br {
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  .es-ingr {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
    z-index: 1;

    @media screen and (max-width: 700px) {
      padding-bottom: 40px;
    }

    @media screen and (max-width: 400px) {
      padding-bottom: 20px;
      margin-top: 40px;
    }

    &__titleCnt {
      padding-top: 6.5%;
      padding-bottom: 5%;
      text-align: center;
    }

    &__titleMain {
      font-family: $decorativeFont;
      color: $greenDark;
      font-size: 76px;
      margin-left: -30px;
      position: relative;
      z-index: 2;

      &:hover {
        animation: thrill 0.7s both;
      }

      @media screen and (max-width: 700px) {
        font-size: 64px;
      }

      @media screen and (max-width: 500px) {
        font-size: 44px;
      }
    }

    &__titleDesc {
      text-transform: uppercase;
      background-color: $greenLight;
      color: $lightColor;
      font-size: 30px;
      letter-spacing: 0.25px;
      margin-left: -8px;
      padding: 11px 20px;
      margin-top: -14px;
      display: inline-block;

      @media screen and (max-width: 700px) {
        font-size: 24px;
        padding: 9px 18px;
        margin-left: 0px;
      }

      @media screen and (max-width: 500px) {
        font-size: 20px;
        padding: 6px 15px;
        margin-left: 3.5%;
        margin-right: 3.5%;
      }
    }

    &__descCnt {
      display: flex;
      width: 70%;
      margin: 0 auto;

      @media screen and (max-width: 700px) {
        flex-direction: column;
        width: 93%;
      }
    }
    &__wrapper {
      margin: 0 auto;
      text-align: center;
      position: relative;
    }

    &__bg{
      margin: 0 auto;
      padding: 0 0 20px 0;
      max-width: 65%;
    }
    &__descItem {
      margin: 0 auto;
      width: 70%;
      text-align: center;
      font-weight: 400;
      @media screen and (min-width: 700px) {
        width: 50%;
      }
    }

    &__descImgCnt {
      margin: 0 2px;
      height: 71%;
      overflow: hidden;

      & > img {
        transition: ease-in-out 0.3s;
      }

      &:hover .img {
        filter: contrast(110%);
        box-shadow: 2px 2px 5px #444;
      }
    }

    &__descTitle {
      color: #2a5647;
      text-transform: uppercase;
      margin-top: 5px;
      margin-bottom: 10px;
      letter-spacing: 1px;
      font-size: 22px;
      font-weight: 500;
      position: relative;
      text-shadow: 4px 4px 5px rgba(255,255,255,1);
      & > br {
        display: none;
      }
      &--3 {
        display: none;
      }
      @media screen and (min-width: 800px) {
        font-size: 30px;
        font-weight: 700;
        position: absolute;
        &--1 {
          top: 22%;
          left:25%;
        }
        &--2 {
          top: 18%;
          right:25%;
        }
        &--3 {
          display: block;
          font-size: 90px;
          top: 19%;
          right:48%;
        }
        & > br {
          display: block;
        }
      }
    }

    &__descText {
      font-size: 14px;
      line-height: 1.3;
      letter-spacing: 0.25px;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 30px;
      color: #2a5647;

      @media screen and (max-width: 500px) {
        width: 90%;
        font-weight: 400;
        font-size: 12px;
        & > br {
          display: none;
        }
      }
    }

    &__cntFloat {
      position: absolute;
      top: 0;
      right: -25%;
      top: -60px;
      width: 58%;
      pointer-events: none;

      transition: ease-in-out 0.3s;
      animation: bubble_glow 6s infinite;

      @media screen and (max-width: 600px) {
        width: 80%;
        right: -35%;
        top: -50px;
      }
    }
  }

  .es-protection {
    &__wrapper {
      margin: 0;
      padding: 0;
      position: relative;
      width: 100%;
      max-height: fit-content;
    }
    background-color: #006237;
    &__img{
      margin: 0 auto;
      padding: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__text {
      position: absolute;
      bottom:1px;
      left: 1px;
      padding: 10px;
      color: #fff;
      line-height: 28px;
      font-family: 'Bowlby One', 'Arial Black',sans-serif;
      font-size: 22px;
      font-weight: 400;
      font-style: italic;
      letter-spacing: 2px;
      text-transform: uppercase;
      transform-origin: 0 0;
      transform: rotate(-5deg);
      & span {
        font-size: 30px;
        font-weight: 900;
        @media screen and (min-width: 700px) {
          font-size: 40px;
        }
      }
      & sup {
        padding: 0;
        margin: 0;
        font-family: $regularFont;
        font-weight: 900;
        // line-height: 0;
        position: relative;
        vertical-align: baseline;
        
      }
      &--1 {
        font-size: 35px;
        top: 3px;
        left: -2px;
        @media screen and (min-width: 700px) {
          font-size: 50px;
          top: 5px;
          left: -3px;
        }
      }
      &--2 {
        font-size: 10px;
        top: -15px;
        left:4px;
        @media screen and (min-width: 700px) {
          font-size: 15px;
          top: -20px;
          left:4px;
        }
      }

      @media screen and (min-width: 700px) {
        bottom: 50px;
        left: 70px;
        font-size: 28px;
      }
    }
  }

  .es-benefits1 {
    position: relative;
    &__imgCnt {
      background-color: #006237;
    }
    &__imgCnt .img {
      @media screen and (max-width: 400px) {
        min-height: 250px;
      }
    }

    &__descCnt {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding-top: 40px;

      @media screen and (max-width: 700px) {
        padding-top: 20px;
      }
    }

    &__titleCnt {
      text-align: center;

      @media screen and (max-width: 700px) {
        text-align: center;
        position: relative;
        top: 50px;
        width: 40%;
        left: 50%;
      }

      @media screen and (max-width: 500px) {
        width: 50%;
        left: 45%;
      }

      @media screen and (max-width: 400px) {
        top: 10px;
      }

      @media screen and (max-width: 350px) {
        top: -10px;
        width: 58%;
        left: 40%;
      }
    }

    &__titleMain {
      color: $lightColor;
      text-transform: uppercase;
      font-size: 28px;
      letter-spacing: 1px;

      transition: ease-in-out 0.3s;

      &:hover {
        text-shadow: 0 0 15px $darkColor;
      }

      @media screen and (max-width: 500px) {
        font-size: 20px;
      }

      @media screen and (max-width: 350px) {
        font-size: 18px;
      }
    }

    &__titleDesc {
      font-family: $decorativeFont;
      color: $greenLight;
      font-size: 48px;
      margin-top: -16px;
      pointer-events: none;

      @media screen and (max-width: 500px) {
        font-size: 38px;
        margin-top: -8px;
      }

      @media screen and (max-width: 350px) {
        font-size: 38px;
      }
    }

    &__desc {
      display: flex;
      margin-top: 4.25%;
      height: 300px;
      position: relative;
      z-index: 20;

      @media screen and (max-width: 800px) {
        justify-content: space-between;
        height: 250px;
        margin-top: 2%;
      }

      @media screen and (max-width: 700px) {
        display: none;
      }

      &-left,
      &-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media screen and (max-width: 800px) {
          width: 30%;
        }

        @media screen and (max-width: 700px) {
          position: relative;
          top: 50%;
        }
      }

      &-left {
        @media screen and (max-width: 998px) {
          align-items: flex-start;
          margin-left: 5%;
        }

        & > :nth-child(3) {
          position: relative;
          right: 60px;

          @media screen and (max-width: 998px) {
            right: 0px;
          }
        }

        & > :nth-child(4) {
          position: relative;
          right: -25px;

          @media screen and (max-width: 998px) {
            right: 0px;
          }
        }
      }

      &-right {
        padding-top: 10px;

        @media screen and (max-width: 998px) {
          align-items: flex-end;
          margin-right: 5%;
        }

        @media screen and (max-width: 800px) {
          text-align: right;
        }

        & > :nth-child(1) {
          position: relative;
          right: 30px;

          @media screen and (max-width: 998px) {
            right: 0px;
          }
        }

        & > :nth-child(2) {
          padding-top: 10px;
        }

        & > :nth-child(3) {
          padding-top: 10px;
          position: relative;
          right: 10px;

          @media screen and (max-width: 998px) {
            right: 0px;
          }
        }

        & > :nth-child(4) {
          padding-top: 2px;
          position: relative;
          right: 30px;

          @media screen and (max-width: 998px) {
            right: 0px;
          }
        }
      }
    }

    &__descItem {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out 0.3s;
    }

    &__descText {
      font-size: 14px;
      color: $lightColor;

      transition: all ease-in-out 0.3s;

      &:hover {
        text-shadow: 0 0 15px $darkColor;
      }

      @media screen and (max-width: 998px) {
        font-weight: 500;
      }

      @media screen and (max-width: 700px) {
        & > br {
          display: none;
        }
      }

      & .sup {
        font-size: 7px;
      }
    }

    &__pointerCnt {
      width: 150px;
      padding: 0 15px;

      @media screen and (max-width: 998px) {
        display: none;
      }
    }

    &__pointerLeft {
      transform: scaleX(-1);
    }

    &__cntFloat {
      position: absolute;
      z-index: 10;
      top: 27%;
      left: 34.25%;
      width: 32%;

      @media screen and (max-width: 700px) {
        top: 3%;
        left: 6%;
        width: 45%;
      }

      @media screen and (max-width: 400px) {
        width: 180px;
        left: -3%;
      }
    }

    &__listCnt {
      display: none;
      @media screen and (max-width: 700px) {
        display: flex;
      }

      margin-bottom: 30px;
    }

    &__list {
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      padding: 0 2%;
      list-style: none;
      font-weight: 700;

      @media screen and (max-width: 450px) {
        font-weight: 400;
      }

      @media screen and (max-width: 400px) {
        font-size: 14px;
      }
    }

    &__listItem {
      max-width: 80%;
      margin-bottom: 20px;
      & > .sup {
        font-size: 10px;
      }

      @media screen and (max-width: 400px) {
        margin-bottom: 10px;
      }
    }

    &__listItem:nth-child(even) {
      text-align: right;
      list-style-position: inside;
      direction: rtl;
      color: $greenDark;
      position: relative;
      right: -17.5%;
    }
  }

  .es-benefits2 {
    position: relative;

    &__imgCnt .img {
      @media screen and (max-width: 400px) {
        min-height: 250px;
      }
    }

    &__descCnt {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding-top: 50px;

      @media screen and (max-width: 700px) {
        padding-top: 20px;
      }
    }

    &__titleCnt {
      text-align: center;

      @media screen and (max-width: 900px) {
        margin-top: -20px;
      }

      @media screen and (max-width: 700px) {
        text-align: center;
        position: relative;
        top: 50px;
        width: 40%;
        left: 50%;
      }

      @media screen and (max-width: 500px) {
        width: 50%;
        left: 45%;
      }

      @media screen and (max-width: 350px) {
        width: 58%;
        left: 40%;
      }
    }

    &__titleMain {
      color: $lightColor;
      text-transform: uppercase;
      font-size: 28px;
      letter-spacing: 1px;
      transition: ease-in-out 0.3s;

      @media screen and (max-width: 350px) {
        font-size: 18px;
      }

      &:hover {
        text-shadow: 0 0 5px $darkColor;
      }
    }

    &__titleDesc {
      font-family: $decorativeFont;
      color: $greenDark;
      font-size: 48px;
      margin-top: -10px;
      pointer-events: none;

      @media screen and (max-width: 900px) {
        line-height: 0.75;
        margin-top: 0px;
      }

      @media screen and (max-width: 350px) {
        font-size: 38px;
      }
    }

    &__desc {
      display: flex;
      margin-top: 1%;
      height: 350px;
      position: relative;
      z-index: 20;

      @media screen and (max-width: 800px) {
        justify-content: space-between;
        height: 250px;
        margin-top: 2%;
      }

      @media screen and (max-width: 700px) {
        display: none;
      }
      &-left,
      &-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media screen and (max-width: 800px) {
          width: 30%;
        }

        @media screen and (max-width: 700px) {
          position: relative;
          top: 50%;
        }
      }

      &-left {
        @media screen and (max-width: 998px) {
          align-items: flex-start;
          margin-left: 5%;
        }
        & > :nth-child(1) {
          position: relative;
          right: -10px;
          @media screen and (max-width: 998px) {
            right: 0px;
          }
        }
        & > :nth-child(3) {
          position: relative;
          right: -30px;
          @media screen and (max-width: 998px) {
            right: 0px;
          }
        }
      }

      &-right {
        margin-top: -5px;

        & > :nth-child(1) {
          position: relative;
          right: 30px;
          @media screen and (max-width: 998px) {
            right: 0px;
          }
        }

        & > :nth-child(2) {
          position: relative;
          margin-top: -10px;
          left: -5px;
          @media screen and (max-width: 998px) {
            left: 0px;
          }
        }

        & > :nth-child(3) {
          position: relative;
          right: 15px;

          @media screen and (max-width: 998px) {
            right: 0px;
          }
        }
      }
    }

    &__descItem {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__descText {
      font-size: 14px;
      color: $lightColor;

      transition: all ease-in-out 0.3s;

      &:hover {
        text-shadow: 0 0 15px $darkColor;
      }

      @media screen and (max-width: 998px) {
        font-weight: 500;
      }

      @media screen and (max-width: 700px) {
        & > br {
          display: none;
        }
      }
      & .sup {
        font-size: 7px;
      }
    }

    &__pointerCnt {
      width: 150px;
      padding: 0 15px;

      @media screen and (max-width: 998px) {
        display: none;
      }
    }

    &__pointerLeft {
      transform: scaleX(-1);
    }

    &__cntFloat {
      position: absolute;
      z-index: 10;
      top: 26%;
      left: 43%;
      width: 15%;

      @media screen and (max-width: 900px) {
        top: 30%;
      }

      @media screen and (max-width: 700px) {
        top: 3%;
        left: 18%;
        width: 20%;
      }

      @media screen and (max-width: 400px) {
        width: 90px;
        left: 10%;
      }
    }

    &__listCnt {
      display: none;
      @media screen and (max-width: 700px) {
        display: flex;
      }
    }

    &__list {
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      padding: 0 2%;
      list-style: none;
      font-weight: 700;

      @media screen and (max-width: 450px) {
        font-weight: 400;
      }

      @media screen and (max-width: 400px) {
        font-size: 14px;
      }
    }

    &__listItem {
      max-width: 80%;
      margin-bottom: 20px;
      & > .sup {
        font-size: 10px;
      }

      @media screen and (max-width: 400px) {
        margin-bottom: 10px;
      }
    }

    &__listItem:nth-child(even) {
      text-align: right;
      list-style-position: inside;
      direction: rtl;
      color: $greenDark;
      position: relative;
      right: -17.5%;
    }
  }

  .es-routine {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
    z-index: 1;

    &__titleCnt {
      padding-top: 8.25%;
      padding-bottom: 5%;
      text-align: center;
    }

    &__titleMain {
      font-family: $decorativeFont;
      color: $greenDark;
      font-size: 76px;
      margin-left: -152px;
      position: relative;
      z-index: 2;
      letter-spacing: 0.25px;

      @media screen and (max-width: 900px) {
        margin-left: -52px;
      }

      @media screen and (max-width: 700px) {
        font-size: 60px;
      }

      @media screen and (max-width: 600px) {
        font-size: 55px;
        margin-left: -92px;
      }

      @media screen and (max-width: 500px) {
        font-size: 45px;
        margin-left: 0;
      }

      @media screen and (max-width: 400px) {
        font-size: 38px;
        margin-bottom: -5px;
        margin-top: 30px;
      }
    }

    &__titleDesc {
      text-transform: uppercase;
      background-color: $greenLight;
      color: $lightColor;
      font-size: 30px;
      letter-spacing: 0.75px;
      margin-left: 300px;
      padding: 13px 45px;
      margin-top: -18px;
      display: inline-block;

      @media screen and (max-width: 900px) {
        margin-left: 150px;
        padding: 10px 35px;
      }

      @media screen and (max-width: 700px) {
        font-size: 24px;
      }

      @media screen and (max-width: 600px) {
        font-size: 20px;
        padding: 8px 25px;
        margin-left: 50px;
      }

      @media screen and (max-width: 500px) {
        font-size: 18px;
        margin-left: 0;
      }

      @media screen and (max-width: 400px) {
        font-size: 16px;
        padding: 6px 12px;
      }
    }

    &__itemCnt {
      display: flex;
      position: relative;

      @media screen and (max-width: 400px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &__itemTitle {
      font-family: $decorativeFont;
      color: $greenDark;
      font-size: 50px;
      letter-spacing: 1px;
      line-height: 1.1;

      @media screen and (max-width: 800px) {
        font-size: 44px;
      }

      @media screen and (max-width: 600px) {
        font-size: 36px;
      }
    }

    &__itemSub {
      color: $greenDark;
      text-transform: uppercase;
      font-size: 19px;

      @media screen and (max-width: 800px) {
        font-size: 17px;
      }

      @media screen and (max-width: 600px) {
        font-size: 16px;
      }
    }

    &__itemText {
      font-weight: 500;
      line-height: 1.4;
      padding-top: 15px;
      font-size: 14px;

      @media screen and (max-width: 900px) {
        & > br {
          display: none;
        }
      }

      @media screen and (max-width: 800px) {
        font-size: 13px;
      }

      & > .sup {
        font-size: 8px;
      }
    }

    &__routine_1 {
      justify-content: space-around;

      .es-routine__itemImgCnt {
        max-width: 24%;
        position: relative;
        left: 20px;
        transition: ease-in-out 0.3s;

        &:hover {
          filter: contrast(120%);
          transform: scale(1.03);
        }

        @media screen and (max-width: 600px) {
          left: -10px;
        }

        @media screen and (max-width: 500px) {
          & > .img {
            min-width: 120px;
          }
        }

        @media screen and (max-width: 400px) {
          & > .img {
            min-width: 150px;
          }
          left: 30px;
        }
      }

      .es-routine__itemTextCnt {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 40px;
        padding-left: 20px;

        @media screen and (max-width: 600px) {
          width: 65%;
        }

        @media screen and (max-width: 400px) {
          margin-top: -50px;
          left: 0px;
          width: 90%;
        }
      }

      .es-routine__cntFloat {
        position: absolute;
        width: 7%;
        top: -20px;
        right: 32%;

        &:hover {
          animation: thrill 0.7s both;
        }

        @media screen and (max-width: 900px) {
          right: 22%;
        }

        @media screen and (max-width: 600px) {
          right: 32%;
        }

        @media screen and (max-width: 500px) {
          display: none;
        }
      }
    }

    &__routine_2 {
      flex-direction: row-reverse;
      justify-content: center;

      @media screen and (max-width: 400px) {
        flex-direction: column;
      }

      .es-routine__itemImgCnt {
        max-width: 24%;
        position: relative;
        left: 0;
        top: -75px;
        transition: ease-in-out 0.3s;

        &:hover {
          filter: contrast(120%);
          transform: scale(1.03);
        }

        @media screen and (max-width: 800px) {
          top: -10px;
        }

        @media screen and (max-width: 600px) {
          top: 10px;
          left: 20px;
        }

        @media screen and (max-width: 500px) {
          top: 40px;
          & > .img {
            min-width: 140px;
          }
        }

        @media screen and (max-width: 400px) {
          & > .img {
            min-width: 180px;
          }
          left: 40px;
          top: 0px;
        }
      }

      .es-routine__itemTextCnt {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
        padding-top: 15px;

        @media screen and (max-width: 600px) {
          width: 65%;
        }

        @media screen and (max-width: 400px) {
          margin-top: -70px;
          left: 0px;
          width: 90%;

          .es-routine__itemSub {
            width: 50%;
          }
        }
      }

      .es-routine__cntFloat {
        position: absolute;
        width: 20%;
        top: -40px;
        left: 34%;

        &:hover {
          animation: thrill 0.7s both;
        }

        @media screen and (max-width: 500px) {
          display: none;
        }
      }
    }

    &__routine_3 {
      justify-content: space-around;

      .es-routine__itemImgCnt {
        max-width: 24%;
        position: relative;
        left: 10px;
        transition: ease-in-out 0.3s;

        &:hover {
          filter: contrast(120%);
          transform: scale(1.03);
        }

        @media screen and (max-width: 800px) {
          top: 40px;
        }

        @media screen and (max-width: 500px) {
          & > .img {
            min-width: 140px;
          }
          left: -20px;
        }

        @media screen and (max-width: 400px) {
          & > .img {
            min-width: 160px;
          }
          left: 15px;
        }
      }

      .es-routine__itemTextCnt {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
        padding-left: 20px;

        @media screen and (max-width: 600px) {
          margin-top: 50px;
          width: 65%;

          .es-routine__itemTitle {
            line-height: 0.75;
            margin-bottom: 12px;
          }
        }

        @media screen and (max-width: 500px) {
          margin-top: 30px;
        }

        @media screen and (max-width: 400px) {
          margin-top: -20px;
          left: 0px;
          width: 90%;

          .es-routine__itemTitle {
            width: 50%;
          }
        }
      }

      .es-routine__cntFloat {
        position: absolute;
        width: 10%;
        top: -85px;
        right: 21.5%;

        &:hover {
          animation: thrill 0.7s both;
        }

        @media screen and (max-width: 800px) {
          right: 12%;
          top: -65px;
        }

        @media screen and (max-width: 600px) {
          right: 5%;
          top: -45px;
        }

        @media screen and (max-width: 500px) {
          display: none;
        }
      }
    }
  }

  .es-cross {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 30px;
      display: inline-block;
      align-items: center;
      text-transform: uppercase;
      background-color: $greenLight;
      color: $lightColor;
      margin-top: 12px;
      margin-bottom: 80px;
      padding: 12px 30px;

      @media screen and (max-width: 900px) {
        font-size: 26px;
        padding: 10px 20px;
      }

      @media screen and (max-width: 650px) {
        font-size: 24px;
        padding: 8px 16px;
        width: 75%;
        text-align: center;
      }

      @media screen and (max-width: 400px) {
        width: 95%;
      }

      @media screen and (max-width: 400px) {
        font-size: 20px;
      }
    }

    &__itemsCnt {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__item {
      width: 23%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      @media screen and (max-width: 900px) {
        width: 48%;
        margin-bottom: 40px;
      }

      @media screen and (max-width: 450px) {
        width: 95%;
      }
    }

    &__itemImgCnt {
      position: relative;
      top: 10px;

      transition: ease-in-out 0.3s;

      &:hover {
        filter: contrast(120%);
        transform: scale(1.1);
      }

      &.es-cross__product1 {
        width: 48%;
      }

      &.es-cross__product2 {
        width: 42%;
      }

      &.es-cross__product3 {
        width: 38%;
      }

      &.es-cross__product4 {
        width: 43%;
      }
    }

    &__itemTitle {
      color: $greenDark;
      font-size: 14px;
      margin-top: 42px;
      margin-bottom: 20px;
    }

    &__itemButton {
      text-decoration: none;
      color: $lightColor;
      background-color: $contrastColor;
      width: 92%;
      text-transform: uppercase;
      text-align: center;
      padding: 10px 0;
      font-size: 14px;

      transition: ease-in-out 0.3s;

      &:hover {
        box-shadow: 0 0.5em 0.5em -0.4em #222;
        transform: translateY(-0.25em);
        filter: contrast(200%);
      }

      @media screen and (max-width: 900px) {
        width: 75%;
      }
    }
  }

  .es-footer {
    margin-top: 90px;
    margin-bottom: 50px;

    @media screen and (max-width: 800px) {
      margin-top: 60px;
    }

    &__infoCnt {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__infoItem {
      @include text;
      font-size: 12px;
      font-weight: 400;

      @media screen and (max-width: 800px) {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        margin: 2px;
      }

      @media screen and (max-width: 500px) {
        font-size: 10px;
        margin: 2px;
      }

      & > .sup {
        font-size: 8px;

        @media screen and (max-width: 500px) {
          font-size: 6px;
        }
      }
    }
  }
}
